@charset "UTF-8";

/** yong  **/
.main {
	min-height: 500px;
}


.step:before {
	content:"\F132";
	display:inline-block;
	font-family:"bootstrap-icons";
}

.step2 {
	padding-left: 20px;
}
.step3 {
	padding-left: 40px;
}

.list a {
	text-decoration: none;
	color:#111;
}


.form-signin {
	width:450px !important;
}

.form-signin .form-floating {
  margin-bottom: 50px ;
}

.check {
	display: relative;
	justify-content: space-between;
}

.form-join {
	width:450px !important;
}

.hidden{
	display: none;
}

/** yong end **/

/** rang **/
.ck-editor__editable_inline {
	min-height: 400px !important;
}
.ck-editor__editable p {margin: 0}

.main-category{
	display: flex;
}

.profile-small {
		width:100px;
		height: 100px;
		object-fit:contain;
		border-radius: 100px ;
	}

.no-category-content{
	width:100%;	
	height: 100%;
}


/* main */

.main-logo-chat-health {
    color: #D19C97 !important;
    white-space: nowrap;
}
.font-weight-bold {
    font-weight: 700 !important;
}

.main-search-part{
	width: 700px;
	height: 80px;
}
.main-search-button{
	width: 200px;
	height: 80px;
}
.main-category-buttons-element{
	width: 100%;
	height: 60px;
	margin : 10px;
}

/* rang end */

/* sun */


.product_row {
	display: flex;
	align-items: center;

}
.comment_box{

}
.comment_text{
	width: 600px;
	height: 100px;
}



/*sun end*/





