@charset "UTF-8";

/** yong  **/
.main {
	height: 100vh;
	width: 100vw;
}


.step:before {
	content: "\F132";
	display: inline-block;
	font-family: "bootstrap-icons";
}

.step2 {
	padding-left: 20px;
}

.step3 {
	padding-left: 40px;
}

.list a {
	text-decoration: none;
	color: #111;
}

.check {
	display: relative;
	justify-content: space-between;
}

.form-join {
	width: 450px !important;
}

.hidden {
	display: none;
}


/** yong end **/


/* sun */
.viewBody{
	width: 70%;
}

.productbox {
	display: flex;
	align-items: center;
}

.imgbox {
	margin-left: 100px;
	width: 430px;
	height: 430px;
}

.imgtest {
	width: 400px;
	height: 400px;
}
.productLike{
	position: relative;
	border: hidden;
	background-color: white;
}
.viewHt{
	width: 40px;
	height: 40px;
	z-index: 10;
}
.viewLikeNun{
	position: absolute;
	top:8px;
	left: 21px;
	z-index: 20;
}

.viewHt{
	width: 15px;
	height: 15px;
}

/*sun review*/
.reviewStart {
	text-align: center;
	background-color: lightgrey;
}




.reviewdata {
	display: flex;
}

.reviewUserInfo {
	display: flex;
	margin: 10px;
	padding: 5px;
}

.reviewUser {
	width: 200px;
	height: 15px;
}

.btnGood {
	margin-left: 800%;
	margin-bottom: 20px;
}


.btnGdfdsf {
	width: 100px;
	background-color: rgb(255, 253, 181);
	border-radius: 10%;
}

.reviewContentbox {
	border: solid;
	border-width: 1px;
}

.reviewContent {
	padding: 5px;
}



.reviewtitle {
	margin: 10px;
}

.reviewtext {
	width: 600px;
	height: 100px;
	padding: 10px;
	margin: 10px;
}


/*sun end*/

/* wonu */


#preview {
	height: 300px;
	width: 300px;
	object-fit: contain;
}

.entP>a {
	color: inherit;
	text-decoration: none;
}
.entP >a:hover{
	text-decoration: underline;
}

/*wonu end*/