@charset "UTF-8";

/** yong  **/
.main {
	min-height: 500px;
}


.step:before {
	content:"\F132";
	display:inline-block;
	font-family:"bootstrap-icons";
}

.step2 {
	padding-left: 20px;
}
.step3 {
	padding-left: 40px;
}

.list a {
	text-decoration: none;
	color:#111;
}


.form-signin {
	width:450px !important;
}

.form-signin .form-floating {
  margin-bottom: 50px ;
}

.check {
	display: relative;
	justify-content: space-between;
}

.form-join {
	width:450px !important;
}

.hidden{
	display: none;
}

/** yong end **/


/* sun */


.productbox {
	display: flex;
	align-items: center;
}
.imgbox{
	margin-left: 100px;
	width: 430px;
	height: 430px;
}
.imgtest{
	width: 400px;
	height: 400px;
}
/*sun review*/
.reviewStart{
	text-align: center;
	background-color: lightgrey;
}




.reviewdata{
	display: flex;
}

.reviewUserInfo{
	display: flex;
	margin:10px;
	padding: 5px;
}
.reviewUser{
	width: 200px;
	height: 15px;
}

.btnGood{
	margin-left: 58%;
}
.btnGdfdsf{
	width: 100px;
}

.reviewContentbox{
	border: solid;
}

.reviewContent{
	padding: 5px;
}



.reviewtitle{
	margin: 10px;
}

.reviewtext{
	width: 600px;
	height: 100px;
	padding: 10px;
	margin: 10px;
}



/*sun end*/





