<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>chat-health</display-name>
  <welcome-file-list>
    <welcome-file>index/index</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PostModify</display-name>
    <servlet-name>PostModify</servlet-name>
    <servlet-class>com.health.controller.category.PostModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostModify</servlet-name>
    <url-pattern>/PostModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostDelete</display-name>
    <servlet-name>PostDelete</servlet-name>
    <servlet-class>com.health.controller.category.PostDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDelete</servlet-name>
    <url-pattern>/PostDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostModifyProcess</display-name>
    <servlet-name>PostModifyProcess</servlet-name>
    <servlet-class>com.health.controller.category.PostModifyProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostModifyProcess</servlet-name>
    <url-pattern>/PostModifyProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewl</display-name>
    <servlet-name>Viewl</servlet-name>
    <servlet-class>com.health.controller.view.Viewl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewl</servlet-name>
    <url-pattern>/Viewl</url-pattern>
  </servlet-mapping>
</web-app>
<!--
  <servlet>
    <description></description>
    <display-name>PostWriteProcess</display-name>
    <servlet-name>PostWriteProcess</servlet-name>
    <servlet-class>com.health.controller.category.PostWriteProcess</servlet-class>
    <multipart-config>
      <location></location>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostWriteProcess</servlet-name>
    <url-pattern>/post/write-process</url-pattern>
  </servlet-mapping>
  
   -->